

<h2 align="center">Total Book List</h2>

<table>
    
  <tr>
    <th>&#8195;&#8195;&#8195;&#8195;&#8195;Book name</th>
    <th>Author</th>
    <th>ISBN</th>
    <th>Genres</th>
    <th>Publisher</th>
    <th>Action</th>
  </tr>
  {{#each books}}
  <form method="post" action="/book/purchase/{{this._id}}">
  <tr>
   
    <td><img src="/uploads/{{this.image}}" width="50" height="50"> &nbsp;&nbsp;&nbsp;{{this.book_name}}</td>
    <td>{{this.author_name}}</td>
    <td>{{this.isbn}}</td>
    <td>{{this.genres}}</td>
    <td>{{this.publisher}}</td>
    <td><button type="submit" class="btn btn-info">Purchase</button></td>
  </tr>
  </form>
{{/each}}  
</table>
